
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}
h2,h3,h1{
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    background-color: white;
    width: 40%;
    height: 150px;
    border-radius: 25px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    

}